<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Observations.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D3B39C8228B59DC00846BC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D3B39DC228B59E900846BC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D3B39E7228B59E900846BC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
